pre-commit
black
isort
jupyter
jupyterlab
keras
lightgbm
matplotlib
missingno
nbdime
numpy
pandas
pandas-flavor
pandas-profiling
pip
plotly
pyjanitor
pylint
pyprojroot
python-dotenv
scikit-learn
seaborn
statsmodels
tensorflow
nbqa
opencv-python
inflection
kaleido